body {
    font-family: 'Kanit', sans-serif;
    background-color: black;
}

#cover {
    width: 100%;
    height: 300px;
    background-image:  linear-gradient(rgba(0,0,0, 0.4) 0%,rgba(0,0,0, 1) 100%), url("https://c.files.bbci.co.uk/17CD/production/_84439060_carriageworks.jpg");
    background-size: cover;
}

h2 {
    color: aliceblue;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.navbar {
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-dark .navbar-toggler {
    border: 0 transparent;
}

.navbar-collapse {
    text-align: center;
}

.nav-link {
    margin: 0 5px;
}

button:focus {
    outline: none;
}

.flashes h4 {
    line-height: 2;
}

.container-lg {
    margin-bottom: 50px;
}

.row {
    margin: 0;
}

.top-margin {
    margin-top: 20px;
}

.padding-bottom {
    padding-bottom: 15px;
}

.card-img-top {
    max-height: 250px;
}

.no-shadow {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

.filter-btn {
    margin-top: 0;
}

.view img {
    margin: auto;
}