@font-face {
    font-family: "Sprayerz";
    src: url("/static/fonts/Sprayerz.otf");
}

/* Global page styles */

body {
    font-family: 'Kanit', sans-serif;
    background-color: rgb(0, 0, 0);
    height: 100%;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.center-margin {
    margin-left: auto;
    margin-right: auto;
}

.center-content {
    justify-content: center;
}

.top-margin {
    margin-top: 1rem;
}

.padding-bottom {
    padding-bottom: 15px;
}

.container-lg {
    margin-bottom: 50px;
}

.row {
    margin: 0;
}

/* Main cover & Navbar */

#cover {
    width: 100%;
    height: 300px;
    background-image:  linear-gradient(rgba(0,0,0, 0.4) 0%,rgba(0,0,0, 1) 100%), url("/static/images/cover-image.jpg");
    background-size: cover;
}

.nav-logo {
    max-width: 26px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-dark .navbar-toggler {
    border: 0 transparent;
}

.navbar-collapse {
    text-align: center;
    z-index: 9;
}

.collapse:not(.show) {
    background-color: transparent;
}

.collapse,
.collapsing {
    background-color: black;
}

.nav-link {
    margin: 0 5px;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
}

button:focus {
    outline: none;
}

/* Main content styles */

.flashes h4 {
    line-height: 2;
}

.logo {
    margin-top: 30px;
    max-width: 125px;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px #fff;
    border-image: linear-gradient(to top left, #d8d8d8 , #000000);
    border-image-slice: 1;
    color: #fff;
    background-color: #000;
    height: 100px;
    width: 300px;
    margin: 60px auto;
}

.heading:hover {
    color: #fff;
}

#title {
    font-size: 27px;
    font-family: 'Sprayerz';
    border-bottom: solid 2px #fff;
    border-image: linear-gradient(40deg, #ff6ec4, #7873f5);
    border-image-slice: 1;
}

h2, 
.page-title,
.artist-info {
    margin: 30px;
    color: aliceblue;
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
}

.search-container {
    position: relative;
    border: solid 2px #fff;
    border-image: linear-gradient(to bottom, #d8d8d8 , #000000);
    border-image-slice: 1;
    margin: 0px 5px 5px 5px;
}

.bottom-pagination-container {
    height: 60px;
    border: solid 2px #fff;
    border-image: linear-gradient(to top, #d8d8d8 , #000000);
    border-image-slice: 1;
    margin: 10px 5px;
}

.border-container {
    border: solid 2px #fff;
    border-image: linear-gradient(to bottom, #d8d8d8 , #000000);
    border-image-slice: 1;
    margin: 30px 5px 5px 5px;
}

h6 {
    text-align: center;
    color: #b3acac99;
    font-size: 12px;
}

hr {
    border-color: rgb(255 255 255 / 65%);
}

/* box styling */

.artists-box,
.artist-box,
.artist-info,
.work-box,
.crews-box,
.style-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px #fff;
    color: #fff;
    background-color: #000;
    margin: 30px auto;
}

.artists-box {
    height: 75px;
    width: 200px;
    transition: all 0.25s ease 0s;
}

.artists-box:hover {
    color: #c571da;
    border-color: #c571da;
}

.artist-box {
    margin: 30px auto 15px auto;
}

.work-box {
    margin: 0 auto;
}

.crews-box {
    height: 400px;
    display: block;
    text-align: center;
    border: solid 3px #ffffff42;
}

.crews-box:hover {
    color: #c571da;
    border-color: #c571da;
    text-shadow: 0px 0px 12px #fb00ff1c;
    box-shadow: 0px 0px 12px #fb00ff1a;
}

.border-mask-top,
.border-mask-top-l,
.border-mask-top-full {
    position: absolute;
    top: -4px;
    width: 30%;
    height: 5px;
    background-color: #000;
}

.border-mask-bottom,
.border-mask-bottom-r,
.border-mask-bottom-full {
    position: absolute;
    bottom: -4px;
    width: 30%;
    height: 5px;
    background-color: #000;
}

.border-mask-bottom,
.border-mask-top-l {
    left: 10px;
}

.border-mask-top,
.border-mask-bottom-r {
    right: 10px;
}

.border-mask-top-full,
.border-mask-bottom-full {
    left: 0px;
    width: 100%;
}

/* Text */

.welcome-text {
    color: #fff;
    text-align: center;
}

.welcome-info-top,
.welcome-info {
    color: rgb(156, 156, 156);
    text-align: center;
}

.welcome-info-top {
    font-size: 25px;
    margin: 30px 5px;}

.welcome-info {
    font-size: 22px;
    margin-left: 5px;
    margin-right: 5px;
}

.login-text {
    color: #fff;
    margin: 30px 0;
}

.artist-name,
.crew-name,
.style-name,
.type,
.username {
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 2px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
}

.crew-name {
    font-size: 50px;
    padding: 8px 0;
    letter-spacing: 0px;
    color: #fff;
}

/* Welcome Page */

.welcome-info-panel {
    margin: 30px 5px;
}

/* Main page */

#search {
    margin: 20px 0;
}

.search {
    margin: 0 10px;
}

#query {
    border-bottom: 1px solid #fe6ec5;
    width: 105%;
}

.no-results {
    margin: 30px auto;
}

.card {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.card-img-top {
    object-fit: cover;
    object-position: center;
    height: 250px;
}

.no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

#filter {
    float: right;
    margin-right: 0;
}

.filter-btn {
    margin-top: 0;
}

.view img {
    margin: auto;
}

.art-panel {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Crew Pages */

#crew-panel-image {
    height: 300px;
    padding: 15px;
    padding-bottom: 0;
}

#crew-panel-image:hover {
	animation-name: image-zoom;
	animation-duration: 0.5s;
	animation-fill-mode: both;
}

.crew-image {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 90%;
    height: auto;
}

@keyframes image-zoom {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.02);
	}
}

/* Admin pages */

.admin-banner {
    width: 100%;
    height: 55px;
    background-color: #af00009c;
    text-align: center;
    color: #fff;
}

.username {
    color: #fff;
}

/* Artist Pages */

.artist-info {
    display: inline-block;
    font-size: 30px;
    margin: 0px 10px;
    border: none;
}

.artist-direct-info,
.artist-crew-info {
    display: inline-block;
    font-size: 80px;
    letter-spacing: 3px;
    margin: 10px;
}

.artist-crew-info {
    font-size: 30px;
}

.artist-crews {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* Forms */

.upload-header {
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 0px;
}

.upload-field {
    width: 70%;
    margin: auto;
}

.form-control {
    color: #fff;
}

.form-control:focus {
    color:#c571da;
}

.form-control.option:selected {
    color:#c01919;
}

.md-form .input-prefix,
.md-form .prefix {
    color: #fff;
}

.md-form.input-with-pre-icon label,
.md-form label {
    color: #fff;
}

.md-form.input-with-pre-icon .input-prefix {
    left: 14px;
}

.text-muted {
    color: #a9b2bb;
}

/* Buttons */

.add-btn {
    margin-top: 30px;
}

#neon-btn,
#neon-upload-btn {
    margin: 0 2px;
    box-shadow: 0 0 6px 0px #ffffff7a;
}

#neon-upload-btn {
    margin: 30px;
}

.btn-outline-secondary {
    color: #ffffffeb !important;
    border: 2px solid #d86fd2 !important;
}

.btn-outline-purple {
    color: #ffffffeb !important;
    border: 2px solid #8b72ee !important;
}

.upload-selector-btns {
    margin: 30px auto;
    justify-content: center;
}

.submit-btn {
    justify-content: center;
    margin-bottom: 30px;
}

/* footer */

.social-links {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

.social-links a i {
    color: rgba(255, 255, 255, 0.603);
    padding: 0 20px;
}

/* preloader - https://bootsnipp.com/snippets/GaeVl */

.preloader1,
.preloader1 
.loader {
    display:flex;
    align-content:center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: 9999;
    text-align: center;
}
.preloader-icon{
    position: relative;
    top: 45%;
    width: 100px;
    border-radius: 50%;
}
.preloader1{
    height:100%;
    width:100%;
    padding:20px 0;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
    perspective:700;
    background: rgba(0, 0, 0, 0.849);
}
.preloader1 .loader{
    text-align:center;
    margin:5px;
    border-radius:50%;
    border:4px solid #fff;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
    transform-style:preserve-3d;
    position:relative
}
.preloader1 .preloader1 .loader-inner-1{
    animation: change_first_circle 2s ease-in-out infinite
}
.preloader1 .loader-inner-2{
    animation: change_second_circle 2s ease-in-out infinite
}
.preloader1 .loader-inner-3{
    width:100px;
    height:100px;
    animation:change_last_circle 3s linear infinite
}
@keyframes change_first_circle{
    50%{transform:rotateX(360deg) scale(.8)}
}
@keyframes change_second_circle{
    50%{transform:rotateY(360deg) scale(.8)}
}
@keyframes change_last_circle{
    50%{transform:rotateX(360deg) scale(.8)}
}

/* Media Queries */