@font-face {
    font-family: "Sprayerz";
    src: url("/static/fonts/Sprayerz.otf");
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: black;
}

#cover {
    width: 100%;
    height: 300px;
    background-image:  linear-gradient(rgba(0,0,0, 0.4) 0%,rgba(0,0,0, 1) 100%), url("/static/images/cover-image.jpg");
    background-size: cover;
}

h2 {
    color: aliceblue;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-dark .navbar-toggler {
    border: 0 transparent;
}

.navbar-collapse {
    text-align: center;
    z-index: 9;
}

.collapse:not(.show) {
    background-color: transparent;
}

.collapse,
.collapsing {
    background-color: black;
}

.nav-link {
    margin: 0 5px;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
}

button:focus {
    outline: none;
}

.flashes h4 {
    line-height: 2;
}

.container-lg {
    margin-bottom: 50px;
}

.row {
    margin: 0;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px #fff;
    border-image: linear-gradient(to top left, #d8d8d8 , #000000);
    border-image-slice: 1;
    color: #fff;
    background-color: #000;
    height: 100px;
    width: 300px;
    margin: 60px auto;
}

#title {
    font-size: 27px;
    font-family: 'Sprayerz';
    border-bottom: solid 2px #fff;
    border-image: linear-gradient(to right, #d8d8d8 , #000000);
    border-image-slice: 1;
}

.top-margin {
    margin-top: 20px;
}

.padding-bottom {
    padding-bottom: 15px;
}

.card {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.card-img-top {
    object-fit: cover;
    object-position: center;
    height: 250px;
}

.no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

.filter-btn {
    margin-top: 0;
}

.view img {
    margin: auto;
}

.art-panel {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* preloader - https://bootsnipp.com/snippets/GaeVl */

.preloader1,
.preloader1 
.loader {
    display:flex;
    align-content:center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: 9999;
    text-align: center;
}
.preloader-icon{
    position: relative;
    top: 45%;
    width: 100px;
    border-radius: 50%;
}
.preloader1{
    height:100%;
    width:100%;
    padding:20px 0;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
    perspective:700;
    background: rgba(0, 0, 0, 0.849);
}
.preloader1 .loader{
    text-align:center;
    margin:5px;
    border-radius:50%;
    border:4px solid #fff;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
    transform-style:preserve-3d;
    position:relative
}
.preloader1 .preloader1 .loader-inner-1{
    animation: change_first_circle 2s ease-in-out infinite
}
.preloader1 .loader-inner-2{
    animation: change_second_circle 2s ease-in-out infinite
}
.preloader1 .loader-inner-3{
    width:100px;
    height:100px;
    animation:change_last_circle 3s linear infinite
}
@keyframes change_first_circle{
    50%{transform:rotateX(360deg) scale(.8)}
}
@keyframes change_second_circle{
    50%{transform:rotateY(360deg) scale(.8)}
}
@keyframes change_last_circle{
    50%{transform:rotateX(360deg) scale(.8)}
}