{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 text-center">Add Crew</h3>

    <div class="row">
        <form class="col-sm-12 col-md-8 offset-md-2" method="POST" action="{{ url_for('add_crew') }}">
            <div class="card">
                <div class="card-body">
                    <!-- artist name -->
                    <div class="row">
                        <div class="md-form input-with-pre-icon" style="width: 70%; margin: auto; justify-self: start;">
                            <i class="fas fa-user-ninja input-prefix"></i>
                            <input type="text" id="crew_name" name="crew_name"
                                minlength="2" maxlength="15" pattern="^[a-zA-Z]{3,15}$" class="form-control">
                            <label for="crew_name">Crew Name</label>
                        </div>
                    </div>
                    <br>
                    <!-- submit button -->
                    <div class="row" style="justify-content: center;">
                        <button type="submit" class="col-sm-4 btn-elegant">
                            Add Crew <i class="fas fa-plus-circle" style="font-size: 90%;"></i>
                        </button>
                    </div>
                </div>      
            </div>     
        </form>
    </div>

{% endblock %}