{% extends "base.html" %}
{% block title %}Add Crew{% endblock %}
{% block content %}

    <!-- Page Title-->
    <h2 class="page-title text-center">Add Crew</h2>

    <div class="row border-container">
        <form class="col-sm-12 col-md-8 offset-md-2" method="POST" action="{{ url_for('add_crew') }}">
            <!-- Crew Name -->
            <div class="row">
                <div class="md-form input-with-pre-icon upload-field" style="margin-top: 25px;">
                    <i class="fas fa-users input-prefix"></i>
                    <input type="text" id="crew_name" name="crew_name"
                        minlength="2" maxlength="7" pattern="^[a-zA-Z0-9]{2,7}$" class="form-control">
                    <label for="crew_name">Crew Name</label>
                </div>
            </div>
            <!-- Crew Image -->
            <div class="row">
                <div class="md-form input-with-pre-icon upload-field">
                    <i class="fas fa-camera-retro input-prefix"></i>
                    <input type="text" id="crew_image" name="crew_image" class="form-control">
                    <label for="crew_image">Crew Image URL</label>
                </div>
                <small id="image-url-helper" class="form-text text-muted text-center" style="width: 70%; margin: auto;">
                    Only use direct links to images by right clicking and pressing 'copy image address'. You can upload images to an external site such as <a href="https://imgbox.com/" target="_blank">imgbox.com</a>.
                    When uploaded, click on the image for a full size version. Then right click and 'copy image address'.
                </small>
            </div>
            <br>
            <!-- Submit Button -->
            <div class="row" style="justify-content: center;">
                <button type="submit" class="col-sm-4 btn-elegant">
                    Add Crew <i class="fas fa-plus-circle" style="font-size: 90%;"></i>
                </button>
            </div>     
        </form>
    </div>

{% endblock %}