{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 text-center">New Artist</h3>

    <div class="row">
        <form class="col-sm-12 col-md-8 offset-md-2" method="POST" action="{{ url_for('add_artist') }}">
            <div class="card">
                <div class="card-body">
                    <!-- artist name -->
                    <div class="row">
                        <div class="md-form input-with-pre-icon" style="width: 70%; margin: auto; justify-self: start;">
                            <i class="fas fa-user-ninja input-prefix"></i>
                            <input type="text" id="artist_name" name="artist_name"
                                minlength="3" maxlength="15" pattern="^[a-zA-Z]{3,15}$" class="form-control">
                            <label for="artist_name">Artist Name</label>
                        </div>
                    </div>
                    <div style="width: 70%; margin: auto; justify-self: start;">
                        <select class="custom-select" name="artist_crews" multiple>
                            {% for crew in crews %}
                                <option value="{{ crew.crew_name }}">{{ crew.crew_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <!-- submit button -->
                    <div class="row" style="justify-content: center;">
                        <button type="submit" class="col-sm-4 btn-elegant">
                            Add Artist <i class="fas fa-plus-circle" style="font-size: 90%;"></i>
                        </button>
                    </div>
                </div>      
            </div>     
        </form>
    </div>

{% endblock %}