{% extends "base.html" %}
{% block content %}

    <h2 class="text-center">Artists</h2>

    <div class="row" style="justify-content: center;">
        <div class="col-sm12 text-center">
            <a href="{{ url_for('add_artist') }}" class="btn btn-sm btn-mdb-color text-shadow">
                Add Artist  <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="row border-container">
        {% for artist in artists %}
            <div class="col-md-3 col-sm-8">
                <a href="{{ url_for('artist', artist_name=artist.artist_name) }}">
                    <div class="center-margin">
                        <div class="artists-box">
                            <div class="border-mask-top"></div>
                            <h3 class="artist-name">{{ artist.artist_name }}</h3>
                            <div class="border-mask-bottom"></div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}