{% extends "base.html" %}
{% block content %}

    <div class="text-center">
        <!-- Artists Name -->
        <div class="border-container">
            <div class="col-sm-8 center-margin">
                <div class="artist-box">
                    <div class="border-mask-top"></div>
                        <h2 class="artist-info text-center">Writers Name: </h2>
                        <h2 class="artist-direct-info">{{ artist.artist_name|upper }}</h2>
                    <div class="border-mask-bottom"></div>
                </div>
            </div>
            <!-- Artists Crews -->
            <div class="col-sm-8 center-margin">
                <div class="crew-box">
                    <h2 class="artist-info text-center">Crew Affiliation:</h2>
                    <div class="artist-crews">
                        <div class="row">
                            {% for crew in artist.artist_crews %}
                                <div class="col-sm-6">
                                    <a href="{{ url_for('crew', crew_name=crew) }}">
                                        <div class="center-margin">
                                            <div class="artists-box">
                                                <div class="border-mask-top-l"></div>
                                                <h3 class="artist-name" id="hover-fx">{{ crew }}</h3>
                                                <div class="border-mask-bottom-r"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <!-- Artists Works -->
            <div class="row">
            {% for work in works %}
            <div class="col-sm-6 col-lg-4 art-panel">
                <div class="card card-cascade wider">
                    <div class="view view-cascade overlay">
                        <!-- image -->
                        <img class="card-img-top" onerror="this.onerror=null;this.src='/static/images/noimage.jpg';"
                                src="{{ work.image_url }}" alt="Graffiti Image">
                        <a href="{{ url_for('work', work_id=work._id) }}">
                            <!-- info overlay -->
                            <div class="mask flex-center rgba-black-strong">
                                <p class="white-text">
                                    Artist: {{ work.artist_name }}
                                    <br>Style: {{ work.style_type }}
                                    <br>Year Painted: {{ work.year_painted }}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>

        <!-- Admin Buttons -->
        {% if session.user|lower == artist.submitted_by|lower or session.user|lower == "admin"|lower %}
            <hr style="width: 70%;">
            <h3 class="white-text">EDIT ARTIST</h3>
            <a href="{{ url_for('edit_artist', artist_name=artist.artist_name) }}" class="btn btn-outline-secondary text-shadow" id="neon-btn">Edit</a>
            <button type="button" class="btn btn-outline-purple text-shadow" id="neon-btn" data-toggle="modal" 
                data-target="#confirm-delete-modal">Delete</button>
            <hr style="width: 70%;">
            <!-- confirm delete modal -->
            <div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-modal"
                aria-hidden="true">
                <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                    <div class="modal-content text-center">
                        <div class="modal-header d-flex justify-content-center">
                            <p class="heading">Are you sure?</p>
                        </div>
                        <div class="modal-body">
                            <i class="fas fa-times fa-4x animated rotateIn"></i>
                        </div>
                        <div class="modal-footer flex-center">
                            <a href="{{ url_for('delete_artist', artist_name=artist.artist_name) }}" class="btn btn-outline-danger">Yes</a>
                            <a type="button" class="btn btn-danger waves-effect" data-dismiss="modal">No</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}