{% extends "base.html" %}
{% block content %}

    <h2 class="text-center">Artists</h2>

    <div class="row" style="justify-content: center;">
        <div class="col-sm12 text-center">
            <a href="{{ url_for('add_artist') }}" class="btn btn-sm btn-mdb-color text-shadow">
                Add Artist  <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="row">
        {% for artist in artists %}
            <div class="col-md-3 col-sm-12">
                <div class="card card-cascade wider top-margin">
                    <div class="view view-cascade overlay">
                        <a href="{{ url_for('get_artist', artist_id=artist._id) }}">
                            <h4 class="card-title"><strong>{{ artist.artist_name }}</strong></h4>
                            <h5 class="pb-2"><strong>Crews:</strong></h5>
                            {% for crew in artist.artist_crews %}
                                <h5 class="blue-text pb-2"><strong>{{ crew }}</strong></h5>
                            {% endfor %}
                        </a>
                    </div>
                    <div class="view view-cascade overlay">
                    <div class="card-body card-body-cascade text-center">
                        
                        {% if session.user|lower == "admin"|lower %}
                            <a href="{{ url_for('edit_artist', artist_id=artist._id) }}" class="btn btn-sm btn-cyan text-shadow">Edit</a>
                            <a href="{{ url_for('delete_artist', artist_id=artist._id) }}" class="btn btn-sm btn-mdb-color text-shadow">Delete</a>
                        {% endif %}
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Disqus comments section -->
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = "{{ request.url }}";
            this.page.identifier = "artists";
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://bristol-blackbook.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}