{% extends "base.html" %}
{% block title %}Crews{% endblock %}
{% block content %}

    <!-- Page Title-->
    <h2 class="text-center">Crews</h2>
    
    <section class="row border-container">
        <!-- Add Crew Button -->
        <div class="col-sm-12 add-btn text-center">
            <a href="{{ url_for('add_crew') }}" class="btn btn-outline-secondary text-shadow" id="neon-btn">
                Add Crew  <i class="fas fa-plus"></i>
            </a>
        </div>

        <!-- Crews -->
        <div class="row">
            {% for crew in crews %}
                <div class="col-sm-12 col-md-6">
                    <div class="card card-cascade wider crews-box">
                        <div class="view view-cascade">
                            <a href="{{ url_for('crew', crew_name=crew.crew_name) }}">
                            <!-- Image -->
                            <img class="card-img-top" id="crew-panel-image" onerror="this.onerror=null;this.src='/static/images/noimage.jpg';"
                                    src="{{ crew.crew_image }}" alt="Graffiti Image">
                                <h3 class="crew-name">{{ crew.crew_name }}</h3>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}