{% extends "base.html" %}
{% block content %}

    <h2 class="page-title text-center">Edit Crew</h2>

    <div class="row border-container">
        <form class="col-sm-12 col-md-8 offset-md-2" method="POST" action="{{ url_for('edit_crew', crew_name=crew.crew_name) }}">
            <!-- artist name -->
            <div class="row">
                <div class="md-form input-with-pre-icon upload-field" style="margin-top: 25px;">
                    <i class="fas fa-users input-prefix"></i>
                    <input type="text" id="crew_name" name="crew_name" value="{{ crew.crew_name }}"
                        minlength="2" maxlength="15" pattern="^[a-zA-Z]{3,15}$" class="form-control" required>
                    <label for="crew_name">Crew Name</label>
                </div>
            </div>
            <div class="row">
                <div class="md-form input-with-pre-icon upload-field">
                    <i class="fas fa-camera-retro input-prefix"></i>
                    <input type="text" id="crew_image" name="crew_image" class="form-control" value="{{ crew.crew_image }}">
                    <label for="crew_image">Image URL</label>
                </div>
                <small id="image-url-helper" class="form-text text-muted text-center" style="width: 70%; margin: auto;">
                    Only use direct links to images by right clicking and pressing 'copy image address'. You can upload images to an external site such as <a href="https://imgbox.com/" target="_blank">imgbox.com</a>.
                    When uploaded, click on the image for a full size version. Then right click and 'copy image address'.
                </small>
            </div>
            <br>
            <!-- submit button -->
            <div class="row" style="justify-content: center;">
                <a href="{{ url_for('crews') }}" class="btn btn-outline-secondary text-shadow" id="neon-upload-btn">
                    Cancel <i class="fas fa-window-close" style="font-size: 90%;"></i> </a>
            <div class="row" style="justify-content: center;">
                <button type="submit" class="btn btn-outline-purple text-shadow" id="neon-upload-btn">
                    Update Crew <i class="fas fa-edit" style="font-size: 90%;"></i>
                </button>
            </div>  
        </form>
    </div>

{% endblock %}