{% extends "base.html" %}
{% block content %}

    <h2 class="light-blue-text text-darken-4 text-center">New Upload</h2>

    <div class="row">
        <form class="col-sm-12 col-md-8 offset-md-2" method="POST" action="{{ url_for('new_upload') }}">
            <div class="card">
                <div class="card-body">
                    <!-- artist name -->
                    <div class="row">
                        <class class="md-form input-with-pre-icon" style="width: 70%; margin: auto;">
                            <i class="fas fa-user-ninja input-prefix"></i>
                            <select class="form-control" name="artist_name" id="artist_name" required>
                                <option value="" disabled selected>Artist</option>
                                {% for artist in artists %}
                                    <option value="{{ artist.artist_name }}">{{ artist.artist_name }}</option>
                                {% endfor %}
                            </select>
                        </class>
                    </div>
                    <!-- style -->
                    <div class="row">
                        <class class="md-form input-with-pre-icon" style="width: 70%; margin: auto;">
                            <i class="fas fa-spray-can input-prefix"></i>
                            <select class="form-control" name="style_type" id="style_type" required>
                                <option value="" disabled selected>Style</option>
                                {% for style in styles %}
                                    <option value="{{ style.style_type }}">{{ style.style_type }}</option>
                                {% endfor %}
                            </select>
                        </class>
                    </div>
                    <!-- year -->
                    <div class="row">
                        <div class="md-form input-with-pre-icon" style="width: 70%; margin: auto;">
                            <i class="fas fa-calendar-alt input-prefix"></i>
                            <input type="text" id="year_painted" name="year_painted" 
                            minlength="4" maxlength="4" pattern="^[0-9]{4,4}$" class="form-control" required>
                            <label for="year_painted">Year Painted</label>
                        </div>
                    </div>
                    <!-- image URL -->
                    <div class="row">
                        <div class="md-form input-with-pre-icon" style="width: 70%; margin: auto; justify-self: start;">
                            <i class="fas fa-camera-retro input-prefix"></i>
                            <input type="text" id="image_url" name="image_url" class="form-control">
                            <label for="image_url">Image URL</label>
                        </div>
                        <small id="image-url-helper" class="form-text text-muted text-center" style="width: 70%; margin: auto;">
                            Please only use direct links to images. You can upload files <a href="https://imgur.com/upload" target="_blank">here</a>.
                            Add a title and post 'To Community', then right click the image and 'copy image address'.
                        </small>
                    </div>
                    <br>
                    <!-- submit button -->
                    <div class="row" style="justify-content: center;">
                        <button type="submit" class="col-sm-4 btn-elegant">
                            Upload Work <i class="fas fa-plus-circle" style="font-size: 90%;"></i>
                        </button>
                    </div>
                </div>      
            </div>     
        </form>
    </div>

{% endblock %}