{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-sm-12 col-md-8 offset-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center light-blue-text text-darken-4">
                        {{ username }}'s Profile
                    </h3>
                </div>
            </div>        
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center light-blue-text text-darken-4">
                        Your Uploaded Works
                    </h3>
                    {% for work in works %}
                        {% if work.submitted_by|lower == username|lower %}
                            <div class="row">
                                <div class="col-4">
                                    <div class="card card-cascade wider">
                                        <div class="view view-cascade overlay">
                                                <img class="card-img-top" 
                                                    src="{{ work.image_url }}" alt="Graffiti Image">
                                            <a href="#!">
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <div class="card-body card-body-cascade text-center">
                                            <h4 class="card-title"><strong>{{ work.artist_name }}</strong></h4>
                                            <h5 class="blue-text pb-2"><strong>Year: {{ work.year_painted }}</strong></h5>
                                            <h5 class="blue-text pb-2"><strong>Style: {{ work.style_type }}</strong></h5>
                                            <p class="card-text">
                                                Uploaded by: {{ work.submitted_by }}<br>
                                                Date uploaded: {{ work.submission_date }}<br>
                                            </p>
                                            {% if session.user|lower == work.submitted_by|lower %}
                                                <a href="{{ url_for('edit_upload', work_id=work._id) }}" class="btn btn-cyan text-shadow">Edit</a>
                                                <a href="{{ url_for('delete_upload', work_id=work._id) }}" class="btn btn-mdb-color text-shadow">Delete</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>    
        </div>
    </div>
{% endblock %}