{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

    <!-- Page Title -->
    <h2 class="page-title text-center">Register An Account</h2>

    <div class="row border-container">
        <div class="col-sm-12 text-center">
            <img class="logo" src="\static\images\logo.png" alt="Logo">
        </div>
        <form class="col-sm-12 col-md-8 offset-md-2" method="POST" action="{{ url_for('register') }}">
            <!-- Username -->
            <div class="md-form">
                <i class="fas fa-user-plus prefix"></i>
                <input type="text" name="username" id="username" minlength="3"
                    maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" class="form-control validate" required>
                <label for="username">Username</label>
            </div>
            <!-- Password -->
            <div class="md-form">
                <i class="fas fa-user-lock prefix"></i>
                <input type="password" name="password" id="password" minlength="3" 
                    maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" class="form-control validate" required>
                <label for="password" data-error="wrong" data-success="right">Type your password</label>
            </div>
            <!-- Register -->
            <div class="row" style="justify-content: center;">
                <button type="submit" class="col-sm-4 btn-elegant">
                    Register <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </form>
    </div>

    <!-- Helper Message -->
    <div class="col-sm-12 login-text">
        <div class="text-center">
            Aready have an account? <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Login Here</a>
        </div>
    </div>

{% endblock %}