{% extends "base.html" %}
{% block title %}Styles{% endblock %}
{% block content %}

    <!-- Page Title -->
    <h2 class="page-title text-center">All Styles</h2>

    <section class="row border-container">
        <!-- Admin Button -->
        {% if session.user|lower == "admin"|lower %}
                <div class="col-sm-12 add-btn text-center">
                    <a href="{{ url_for('add_style') }}" class="btn btn-outline-secondary top-margin" id="neon-btn">
                        Add Style  <i class="fas fa-plus"></i>
                    </a>
                </div>
        {% endif %}

        <!-- Styles -->
        {% for style in styles %}
            <div class="col-md-4 col-sm-8">
                <div class="center-margin">
                    <div class="style-box">
                        <div class="border-mask-top"></div>
                        <!-- Style Name -->
                        <a href="{{ url_for('style', style_name=style.style_name) }}">
                        <!-- Style Image -->
                            <img class="card-img-top" id="crew-panel-image" alt="Style Image" 
                                src="{{ style.style_image }}" onerror="this.onerror=null;this.src='/static/images/noimage.jpg';">
                            <h3 class="style-name white-text">{{ style.style_name }}</h3>
                        </a>
                        <div class="border-mask-bottom"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}