{% extends "base.html" %}
{% block content %}

    <h2 class="text-center">Styles</h2>

    {% if session.user|lower == "admin"|lower %}
        <div class="row" style="justify-content: center;">
            <div class="col-sm12 text-center">
                <a href="{{ url_for('add_style') }}" class="btn btn-mdb-color text-shadow">
                    Add Style  <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
    {% endif %}

    <div class="row">
        {% for style in styles %}
                <div class="col-md-3 col-sm-12">
                    <div class="card card-cascade wider top-margin">
                        <div class="view view-cascade overlay">
                        <div class="card-body card-body-cascade text-center">
                            <a href="{{ url_for('style', style_type=style.style_type) }}">
                                <h4 class="card-title"><strong>{{ style.style_type }}</strong></h4>
                                <h5 class="blue-text pb-2"><strong>#</strong></h5>
                                {% if session.user|lower == "admin"|lower %}
                                    <a href="{{ url_for('edit_style', style_type=style.style_type) }}" class="btn btn-sm btn-cyan text-shadow">Edit</a>
                                    <button type="button" class="btn btn-sm btn-mdb-color text-shadow" data-toggle="modal" 
                                        data-target="#confirm-delete-modal">Delete</button>
                                    <!-- confirm delete modal -->
                                    <div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-modal"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                                            <div class="modal-content text-center">
                                                <div class="modal-header d-flex justify-content-center">
                                                    <p class="heading">Are you sure?</p>
                                                </div>
                                                <div class="modal-body">
                                                    <i class="fas fa-times fa-4x animated rotateIn"></i>
                                                </div>
                                                <div class="modal-footer flex-center">
                                                    <a href="{{ url_for('delete_style', style_type=style.style_type) }}" class="btn btn-outline-danger">Yes</a>
                                                    <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}