{% extends "base.html" %}
{% block content %}

    <div class="jumbotron text-center">
        <!-- image -->
        <div class="view overlay my-4">
            <img src="{{ work.image_url }}" class="img-fluid" alt="Graffiti Image">
        </div>
        <!-- image info -->
        <h5 class="indigo-text h5 mb-4">Artist: {{ work.artist_name }}</h5>
        <p class="card-text">Style: {{ work.style_type }}<br>
            Year Painted: {{ work.year_painted }}
        </p>
        <!-- buttons -->
        {% if session.user|lower == work.submitted_by|lower or session.user|lower == "admin"|lower %}
            <a href="{{ url_for('edit_upload', work_id=work._id) }}" class="btn btn-sm btn-cyan text-shadow">Edit</a>
            <button type="button" class="btn btn-sm btn-mdb-color text-shadow" data-toggle="modal" 
                data-target="#confirm-delete-modal">Delete</button>
            
            <!-- confirm delete modal -->
            <div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-modal"
                aria-hidden="true">
                <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                    <div class="modal-content text-center">
                        <div class="modal-header d-flex justify-content-center">
                            <p class="heading">Are you sure?</p>
                        </div>
                        <div class="modal-body">
                            <i class="fas fa-times fa-4x animated rotateIn"></i>
                        </div>
                        <div class="modal-footer flex-center">
                            <a href="{{ url_for('delete_upload', work_id=work._id) }}" class="btn btn-outline-danger">Yes</a>
                            <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <!-- Disqus comments section -->
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = "{{ request.url }}";
            this.page.identifier = "{{ work._id }}";
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://bristol-blackbook.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}