{% extends "base.html" %}
{% block content %}

<h2 class="text-center">All Pieces</h2>

    <div class="row center-content">
        <div>
            <!-- search box -->
            <div class="row search-container">
                <form class="form-inline col-sm-12 center-content" method="POST"
                    id="search" action="{{ url_for('search') }}">
                    <!-- search bar -->
                    <div class="md-form input-with-pre-icon search">
                        <i class="fas fa-search input-prefix"></i>
                        <input type="text" name="query" id="query"
                            minlength="3" maxlength="15" pattern="^[a-zA-Z]{3,15}$" class="form-control">
                        <label for="query">Search for Artist or Style</label>
                    </div>
                    <!-- search buttons -->
                    <div class="search">
                        <a onclick="document.getElementById('search').submit()" class="btn btn-sm btn-outline-secondary text-shadow" id="neon-btn">Search</a>
                        <a href="{{ url_for('works') }}" class="btn btn-sm btn-outline-purple text-shadow" id="neon-btn">Reset</a>
                    </div>
                </form>
            </div>
            <!-- filter dropdown -->
            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-sm purple-gradient dropdown-toggle filter-btn" id="filter" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Sort By</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url_for('filter', filter_type='date_submitted', direction='descending') }}">Date Uploaded: Latest</a>
                        <a class="dropdown-item" href="{{ url_for('filter', filter_type='date_submitted', direction='ascending') }}">Date Uploaded: Oldest</a>
                        <a class="dropdown-item" href="{{ url_for('filter', filter_type='year_painted', direction='descending') }}">Year Painted: Latest</a>
                        <a class="dropdown-item" href="{{ url_for('filter', filter_type='year_painted', direction='ascending') }}">Year Painted: Oldest</a>
                        <a class="dropdown-item" href="{{ url_for('filter', filter_type='artist_name', direction='ascending') }}">Artists: A-Z</a>
                        <a class="dropdown-item" href="{{ url_for('filter', filter_type='artist_name', direction='descending') }}">Artists: Z-A</a>
                    </div>
                </div>
            </div>

            <!-- artworks -->
            <div class="row">
                {% if works|length > 0 %}
                    {% for work in works %}
                        <div class="col-sm-6 col-lg-4 art-panel">
                            <div class="card card-cascade wider">
                                <div class="view view-cascade overlay">
                                    <!-- image -->
                                    <img class="card-img-top"
                                            src="{{ work.image_url }}" alt="Graffiti Image">
                                    <a href="{{ url_for('work', work_id=work._id) }}">
                                        <!-- info overlay -->
                                        <div class="mask flex-center rgba-black-strong">
                                            <p class="white-text">
                                                Artist: {{ work.artist_name }}
                                                <br>Style: {{ work.style_type }}
                                                <br>Year Painted: {{ work.year_painted }}
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2 class="red-text no-results">No Results Found</h2>
                {% endif %}
            </div>
            <div class="row bottom-pagination-container"></div>
        </div>
    </div>
{% endblock %}