{% extends "base.html" %}
{% block content %}

    <h1 class="text-center">Bristol Street Art</h1>

    <div class="row text-center">
        <div class="card card-cascade wider padding-bottom" style="margin: auto;">

            <!-- search box -->
            <div class="row">
                <form class="col-sm-12 col-md-8 offset-md-2 no-side-padding" method="POST" 
                    id="search" action="{{ url_for('search') }}">
                    <div class="card no-shadow">
                        <div class="card-body">
                            <!-- search bar -->
                            <div class="row">
                                <div class="md-form input-with-pre-icon" style="width: 70%; margin: auto; justify-self: start;">
                                    <i class="fas fa-search input-prefix"></i>
                                    <input type="text" name="query" id="query"
                                        minlength="3" maxlength="15" pattern="^[a-zA-Z]{3,15}$" class="form-control">
                                    <label for="query">Search</label>
                                </div>
                            </div>
                            <!-- buttons -->
                            <div class="row" style="justify-content: center;">
                                <a href="{{ url_for('get_works') }}" class="col-md-3 btn btn-sm btn-danger text-shadow">Reset</a>
                                <a onclick="document.getElementById('search').submit()" class="col-md-3 btn btn-sm btn-cyan text-shadow">Search</a>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>

            <!-- filter dropdown -->
            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-sm btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Sort By</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url_for('filter_artists') }}">Artist</a>
                        <a class="dropdown-item" href="{{ url_for('filter_crews') }}">Crew</a>
                        <a class="dropdown-item" href="{{ url_for('filter_styles') }}">Style</a>
                        <a class="dropdown-item" href="{{ url_for('filter_year') }}">Year Painted</a>
                    </div>
                </div>
            </div>

            <!-- artworks -->
            <div class="row">
            {% if works|length > 0 %}
                {% for work in works %}
                    <div class="col-sm-6 col-lg-4">
                        <div class="card card-cascade wider top-margin">
                            <div class="view view-cascade overlay">
                                <!-- image -->
                                <img class="card-img-top" 
                                        src="{{ work.image_url }}" alt="Graffiti Image">
                                <a href="{{ url_for('get_work', work_id=work._id) }}">
                                    <!-- info overlay -->
                                    <div class="mask flex-center rgba-black-strong">
                                        <p class="white-text">
                                            Artist: {{ work.artist_name }}
                                            <br>Style: {{ work.style_type }}
                                            <br>Year Painted: {{ work.year_painted }}
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h2 class="red-text text-center">No Results Found</h2>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}